header {
  text-align: center;
}

main {
  margin: 20px;
}

li, p {
  font-size: 20px;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid black;
  color: black;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
}


/* Task 1 */
a:link {
  color: greenyellow;
}

a:visited {
  color: red;
}

a:hover {
  color:magenta;
}

a:active {
  color:blue;
}

/* Task 2 */
button:hover {
  background-color: green;
}

button:active {
  background-color: blue;
  /* I suspect this doesn't show any effect at the mooment because clicking the button currently has no effect */
}

/* Task 3 */
p::first-letter {
  color: magenta;
}
/* Task 4 */
h2 + p::first-line {
  color: blue;
}